package partials

templ NavBar() {
	<nav class="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/company">Company</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
}
